@font-face {
  font-family: "SFProDisplay-Regular";
  src: local("SFProDisplay-Regular"),
    url('../fonts/SFProDisplay-Regular.woff') format("woff"),
    url('../fonts/SFProDisplay-Regular.woff2') format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "SFProDisplay-Semibold";
  src: local("SFProDisplay-Semibold"),
    url('../fonts/SFProDisplay-Semibold.woff') format("woff"),
    url('../fonts/SFProDisplay-Semibold.woff2') format("woff2");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "SFProDisplay-Regular",
  sans-serif;
  background: #E5E5E5;
}
.header {
  width: 100%;
  background: #FA8C16;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.header-nav {
  margin-left: 60px;
  margin-right: auto;
}
.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-menu-link {
  text-decoration: none;
  color: #FAFAFA;
  margin-right: 15px;
  font-size: 14px;
  line-height: 22px;
}
.input-group {
  max-width: 237px;
  width: 60%;
  height: 32px;
  position: relative;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
}
.search-input {
  width: 80%;
  height: 100%;
  border: none ;
  font-size: 14px;
  line-height: 22px;
  padding-left: 12px;
}
.search-button {
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input[type="search"]::-moz-placeholder {
  color:#BFBFBF;;
  /* Цвет подсказывающего текста */
}

.search-input[type="search"]::-webkit-input-placeholder {
  color:#BFBFBF;;
}

.search-input[type="search"]:-ms-input-placeholder {
  color:#BFBFBF;;
}

.search-input[type="search"]::-ms-input-placeholder {
  color:#BFBFBF;;
}

.search-input[type="search"]::placeholder {
  color:#BFBFBF;;
}
.menu-toggle {
  display: none;
}
/* content */
.content {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.posts {
  width: 67%;
}
.post-body {
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 0;
}
.post {
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  margin-bottom: 30px;
}
.post-title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}
.post-text {
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.post-buttons {
  display: flex;
  align-items: center;
}
.tags {
  margin-bottom: 22px;
}
.tag {
  margin-right: 10px;
  font-size: 14px;
  line-height: 22px;
  color: #BFBFBF;
  text-decoration: none;
}
.post-footer {
  background: #FAFAFA;
  padding-top: 13px;
  padding-bottom: 13px;
  border-top: 1px solid #E8E8E8;
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
}
.post-button .icon {
  fill: #8C8C8C;
}
.post-button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: #8C8C8C;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-right: 19px;
  cursor: pointer;
}
.icon {
  margin-right: 8px;
}
.author-avatar {
  width: 34px;
  height: 34px;
  margin-left: 10px;
  border-radius: 4px;
  margin-top: 5px;
}
.post-author {
  display: flex;
  align-items: center;
  text-align: right;
}
.post-time {
  color: #BFBFBF;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}
.author-username {
  display: block;
  color: #8C8C8C;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}
.sidebar {
  width: 31%;
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFAFA;
  border: 1px solid #E8E8E8;
  padding: 15px 25px;
}
.user-info {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user-avatar {
  border-radius: 50%;
  margin-right: 17px;
}
.user-name {
  font-family: "SFProDisplay-Semibold",
  sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.icon-exit {
  width: 20px;
  height: 20px;
  fill: #595959;
}

.sidebar-nav {
  background-color: #fff;
}
.sidebar-menu {
  margin: 0;
  border: 1px solid #E8E8E8;
  border-top: none;
  list-style-type: none;
  padding: 0;
}
.sidebar-menu-link {
  display: inline-block;
  padding: 16px 48px;
  width: 100%;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.sidebar-menu-link:hover {
  background-color: #FFFBE6;
  color: #FAAD14;
}
.sidebar-menu-link.active {
  background-color: #FFFBE6;
  border-right: 3px solid #FAAD14;
  color: #FAAD14;
}
.button {
  background-color: #FAAD14;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 13px;
  cursor: pointer;
}
.button-new-post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #FFFFFF;
  margin-top: 20px;
}
.button-outline {
  background-color: #fff;
  color: #FFC53D;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #FFC53D;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}
.button-outline .icon {
  width: 14px;
  height: 11px;
}
.add-button {
  color: #fff;
  max-width: 370px;
  width: 100%;
  margin-right: 36px;
}
.add-post .button-outline {
  margin-right: 12px;
}
.icon-fire {
  fill: #FFFFFF;
  margin-right: 10px;
}
.button-new-post:hover {
  background-color: #fdbd3e;
}
.card {
  background-color: #fff;
  border: 1px solid #E8E8E8;
  margin-top: 20px;
}
.card-header {
  background: #FAFAFA;
  border-bottom: 1px solid #E8E8E8;
  box-sizing: border-box;
  margin-bottom: 22px;
  padding: 23px 25px;
  margin: 0;
}
.card-title {
  font-family: "SFProDisplay-Semibold",
  sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
  margin: 0;
}
.card-body {
  padding: 22px 40px 20px 25px;
}
.card-body-title {
  margin: 0;
  font-family: "SFProDisplay-Semibold",
  sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #D48806;
  text-decoration: none;
}
.card-text {
  margin: 10px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.promo {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 260px;
  background: #fff url('../img/advertising.png') no-repeat center center / cover;
  border: 1px solid #E8E8E8;
  position: relative;
}
.promo::before {
  content: 'Реклама';
  position: absolute;
  right: 0;
  top: 0;
  background: #C4C4C4;
  color: #FFFFFF;
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 20px;
}
.add-post {
  display: flex;
  flex-direction: column;
}
.add-title {
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  padding: 23px 30px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 22px;
}
.add-text {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  border: 1px solid #E8E8E8;
  padding: 23px 30px;
  margin-bottom: 16px;
  min-height: 362px;
}
@media (max-width: 1200px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  .menu-toggle span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-left: 10px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
  }
  .content{
    margin-top: 94px;
    margin-bottom: 50px;
  }
  .sidebar {
    position: fixed;
    top: 64px;
    right: 0;
    bottom: 0;
    height: calc(100% - 64px);
    max-width: 320px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    transform: translateX(100%);
    transition: transform 0.2s;
    overflow-y: auto;
    z-index: 100;
  }
  .sidebar.visible {
    transform: translateX(0);
  }
  .posts {
    width: 100%;
  }
  .header-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FA8C16;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 35px;
  }

  .header-menu {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 786px) {
  .post-footer {
    flex-direction: column;
  }

  .post-author {
    margin-top: 15px;
  }

  .author-avatar {
    margin-left: 0;
    margin-right: 20px;
  }

  .author-about {
    order: 2;
    text-align: left;
  }
}